html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.smooth {
    animation-duration: 2.5s, 1s;
    animation-name: smooth, motion;
    animation-delay: 0.1s;
    font-size: 24px;
}
.smooth * {
    width: auto;
}


@keyframes smooth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes motion {
    from {
        translate: -50% 0;
    }

    to {
        translate: 0 0;
    }
}